#logo {
  text-decoration: none;
  color: darkgreen;
  font-size: 30px;
  transition: color 1s; }
  #logo img {
    max-width: 70px; }
  #logo:hover {
    color: #020202; }

.contact-list ul {
  list-style: none;
  padding: 10px; }

.social-list {
  text-align: right; }
  .social-list ul {
    list-style: none;
    margin: 0; }
  .social-list li {
    display: inline-block;
    padding-right: 10px; }
  .social-list i {
    color: black;
    font-size: 25px; }

.parallax, #parthners-adv-parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  min-width: 100%; }

.menu-item-optional {
  transition: all 0.5s ease; }

#parthners-adv-parallax {
  background-image: url("../../img/pathrners/pathners.jpg");
  display: flex;
  align-items: center;
  justify-content: center; }

#parthners-adv-primary-text {
  color: whitesmoke;
  font-size: 48px;
  margin: 0 auto;
  text-align: center; }

.parthners-text {
  padding: 30px 0;
  font-size: 24px;
  text-align: justify; }
