@import "common";

#index-adv-parallax {
  @extend .parallax;

  background-image: url('../../img/index/50656.jpg');

  display: flex;
  align-items: center;
  justify-content: center;
}

#index-adv-primary-text {
  color: whitesmoke;
  font-size: 30px;
  margin: 0 auto;
  text-align: center;
}

.tour {
  padding: 10px;

  .tour-img {
    display: inline-block;
    width: 100%;
  }

  .tour-header {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }

  .tour-description {
    font-size: 22px;
    text-align: justify;
  }

  .tour-order {
    text-align: center;
  }
}