@import "common";

#parthners-adv-parallax {
  @extend .parallax;

  background-image: url('/static/img/pathrners/pathners.jpg');

  display: flex;
  align-items: center;
  justify-content: center;
}

#parthners-spacex-parallax {
  @extend #parthners-adv-parallax;

  background-image: url('/static/img/pathrners/spacex.jpg');
}

#parthners-adv-primary-text {
  color: whitesmoke;
  font-size: 48px;
  margin: 0 auto;
  text-align: center;
}

.parthners-text {
  padding: 30px 0;
  font-size: 24px;
  text-align: justify;
}